<html>
    <title>DOCKER</title>
    <body bgcolor="#230B87">
        <h1 style="color:white"><center>¿QUE ES DOCKER?</center></h1>
        <p style="color:white">
            Docker le proporciona una manera estándar de ejecutar un código,
            docker es un sistema operativo para contenedores de manera similar 
            a cómo una máquina virtual virtualiza (elimina la necesidad de administrar 
            directamente) el hardware del servidor, los contenedores virtualizan el sistema 
            operativo de un servidor. Docker se instala en cada servidor y proporciona comandos 
            sencillos que puede utilizar para crear, iniciar o detener contenedores.

        </p>
        <br><center><a href="siguiente1" class="btn" style="color:chartreuse">UBUNTU</a></center></br>
    
    </body>
</html>
