<html>
    <title>CONTENEDOR DOCKER</title>
    <body bgcolor="#230B87">
        <h1 style="color:white"><center>¿QUE ES UN CONTENEDOR EN DOCKER?</center></h1>
        <p style="color:white">
            Un contenedor es un formato de empaquetado que empaqueta 
            todo el código y las dependencias de una aplicación en un 
            formato estándar que le permite ejecutarse de manera rápida 
            y confiable en todos los entornos informáticos. Un contenedor 
            Docker es un contenedor ejecutable, independiente, liviano y 
            popular que incluye todo lo necesario para ejecutar una aplicación, 
            incluidas bibliotecas, herramientas del sistema, código y tiempo de ejecución. 
            Docker también es una plataforma de software que permite a los desarrolladores 
            crear, probar e implementar aplicaciones en contenedores rápidamente.
        </p>
        <br><center><a href="siguiente" class="btn" style="color:chartreuse">DOCKER</a></center></br>
    
    </body>
</html>
