<html>
    <title>UBUNTU</title>
    <body bgcolor="#230B87">
        <h1 style="color:white"><center>¿QUE ES UBUNTU?</center></h1>
        <p style="color:white">
            Ubuntu es un sistema operativo desarrollado por la comunidad 
            que es perfecto para laptops, computadoras de escritorio y servidores. 
            Ya sea que lo utilices en el hogar, en la escuela o en el trabajo, Ubuntu 
            contiene todas las aplicaciones que puedas necesitar, desde procesadores de texto 
            y aplicaciones de email, hasta software para servidor web y herramientas de programación.

        </p>
        <br><center><a href="/" class="btn" style="color:chartreuse">ATRAS</a></center></br>
    
    </body>
</html>
